@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header {
    background-color: black;
    color: white;
    height: 155px;
    padding-top: 56px;
    padding-bottom: 7px;
    min-width: 330px;
    margin-bottom: 70px;
}

header h1 {
    text-align: center;
    margin: auto;
    font-family: 'Passion One', cursive;
    font-size: 4em;
    min-width: 320px;
}

header p {
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 18px;
}

header a {
    color: white;
    text-decoration: underline;
    font-weight: 700;
}

header a:hover {
    text-decoration: none;
    color: blue;
}

#noback1 {
    background-color: white;
    font-family: 'Sriracha', cursive;
    margin-left: 40px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 2.0;
}

#back1 {
    font-family: 'Sriracha', cursive;
    color: white;
    margin: 0px;
    padding: 100px 0px 0px 20px;
    height: 500px;
    font-size: 18px;
    line-height: 2.0;
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#back1 > p {
    background-color: rgba(0, 0, 0, 0.459);
    width: 260px;
    height: 250px;
    padding: 20px;
}

#noback2 {
    margin-top: 70px;
    background-color: white;
    font-family: 'Sriracha', cursive;
    margin-left: 40px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 2.0;
}

#back2 {
    font-family: 'Sriracha', cursive;
    color: white;
    margin: 0px;
    padding: 100px 0px 0px 20px;
    height: 500px;
    font-size: 18px;
    line-height: 2.0;
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#back2 > p {
    background-color: rgba(0, 0, 0, 0.459);
    width: 260px;
    height: 250px;
    padding: 20px;
}

#noback3 {
    margin-top: 70px;
    background-color: white;
    font-family: 'Sriracha', cursive;
    margin-left: 40px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 2.0;
}

footer {
    background-color: black;
    color: white;
}

footer > p {
    text-align: center;
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}
